# Defaults are shown below. Uncomment only values that need overriding.
# DONA_SOCKET_PATH=~/Library/Application Support/Dona/run/dispatcher.sock
# DONA_DATABASE_PATH=~/Library/Application Support/Dona/dona.sqlite3
# DONA_RESULTS_DIR=~/Library/Application Support/Dona/results
# HERDR_SESSION=dona
# DONA_AGENT_NAME=dona-main
# DONA_HERDR_PATH=herdr
# DONA_CODEX_PATH=codex
# DONA_REQUEST_MAX_BYTES=1048576
# DONA_AGENT_WAIT_TIMEOUT_MS=120000
# DONA_AGENT_MISSING_GRACE_MS=5000
# DONA_QUEUE_POLL_MS=1000
# DONA_MAX_ATTEMPTS=5
# DONA_JOBS_WORKSPACE_ROOT=~/.dona/workspaces
# DONA_JOB_RESULTS_DIR=~/Library/Application Support/Dona/job-results
# DONA_JOBS_PER_EVENT_MAX=8
# DONA_JOB_OBJECTIVE_TOTAL_MAX_BYTES=400000
# DONA_JOB_CONCURRENCY=4
# DONA_JOB_CONCURRENCY_PER_EVENT=2
# DONA_JOB_AGENT_START_TIMEOUT_MS=30000
# DONA_JOB_COMMAND_TIMEOUT_MS=10000
# DONA_JOB_PROMPT_TIMEOUT_MS=30000
# DONA_JOB_PROMPT_RECONCILE_MS=30000
# DONA_JOB_PROMPT_RECONCILE_POLL_MS=5000
# DONA_GH_PATH=gh
# DONA_GIT_PATH=git
# DONA_UPDATER_SOCKET_PATH=~/Library/Application Support/Dona/update-control/updater.sock
# DONA_UPDATE_INTERNAL_TOKEN_PATH=~/Library/Application Support/Dona/update-control/dispatcher.token
# DONA_UPDATE_NOTIFICATION_DATABASE_PATH=~/Library/Application Support/Dona/update-notifications.sqlite3
# DONA_JOB_PROGRESS_DATABASE_PATH=~/Library/Application Support/Dona/job-progress.sqlite3
# SLACK_HEALTH_SOCKET_PATH=~/Library/Application Support/Dona/run/slack-adapter.sock
